.transactions{
    background: rgb(48, 51, 78);
    color: white;
    padding: 1rem;
    border-radius: 5px;
}

.transaction{
    display: flex;
    font-size: 14px;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 3px;
    background: rgba(38, 198, 249, 0.12);
    gap: 40px;
}

.table-name{
    display: flex;
    font-size: 16px;
    gap: 40px;
    margin-top: 10px;
}

.table-name p{
    flex: 1;
}


.transaction p{
    flex: 1;
}

.transaction:nth-child(even){
    background: rgba(102,108,255,0.12);
}