.Product{
    margin: 3rem;
    display: flex;
    justify-content: center;
}

.ProductContainer{
    max-width: 500px;
    width: 100%;
    height: auto;
    display: flex;
    box-shadow: -5px -5px 1px rgba(255, 255, 255, 0.5),
   2px 2px 5px 5px rgba(94, 104, 121, 0.3);
    border-radius: 5px;
    padding: 2rem;
}

.ImageContainer{
    flex: 1;
}

.ImageContainer img{
    width: 100%;
}

.ProductDetails{
    flex: 2;
    margin-left: 2rem;
}

.ProductDetails h3{
    font-size: 35px;
}

.ProductDetails p span{
    font-weight: bold;
}

.price{
    margin: 1rem 0;
    font-weight: bold;
    font-size: 25px;
}

.product-add-to-cart{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 2rem;
    font-weight: 400;
    letter-spacing: 1.15px;
    background-color: #4b70e2;
    border: none;
    outline: none;
    cursor: pointer;
    color: #f9f9f9;
}